.fam-checker-content {
    .right-contaienr {
        padding: 16px;
        .right-contaienr_input {
            width: 320px;
            margin-bottom: 16px;
        }
    }
}

.joinOrgDialog .el-dialog__body {
    padding: 0 !important;
}