@charset "UTF-8";
#ComponentWapper-erdTable {
  /*
  * 自定义校验样式
  */
}
#ComponentWapper-erdTable .pointer {
  cursor: pointer;
}
#ComponentWapper-erdTable .el-input,
#ComponentWapper-erdTable .el-input__inner {
  height: var(--inputHeight) !important;
  line-height: var(--inputHeight) !important;
}
#ComponentWapper-erdTable .el-input__icon {
  line-height: var(--inputHeight);
}
#ComponentWapper-erdTable .vxe-table--body-wrapper,
#ComponentWapper-erdTable .vxe-table--footer-wrapper {
  /*滚动条样式*/
}
#ComponentWapper-erdTable .vxe-table--body-wrapper::-webkit-scrollbar,
#ComponentWapper-erdTable .vxe-table--footer-wrapper::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}
#ComponentWapper-erdTable .vxe-table--body-wrapper::-webkit-scrollbar-thumb,
#ComponentWapper-erdTable .vxe-table--footer-wrapper::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 5px rgba(144, 147, 153, 0.3);
  background: rgba(144, 147, 153, 0.3);
}
#ComponentWapper-erdTable .vxe-table--body-wrapper::-webkit-scrollbar-thumb:hover,
#ComponentWapper-erdTable .vxe-table--footer-wrapper::-webkit-scrollbar-thumb:hover {
  background-color: rgba(144, 147, 153, 0.5);
}
#ComponentWapper-erdTable .not-max-height .vxe-table--body-wrapper {
  max-height: none !important;
}
#ComponentWapper-erdTable .vxe-table--body-wrapper .disabled-drag td {
  background: #ccc;
  cursor: no-drop;
}
#ComponentWapper-erdTable .vxe-table--render-default.border--full .vxe-table--border-line {
  z-index: 100;
  border-right: 1px solid #e8eaec;
}
#ComponentWapper-erdTable .vxe-table--render-default .vxe-cell .el-input__count-inner {
  white-space: nowrap;
}
#ComponentWapper-erdTable .vxe-table--render-default .vxe-cell--checkbox .vxe-checkbox--icon {
  font-size: 14px;
  font-size: var(--fontSize);
  background: #fff;
}
#ComponentWapper-erdTable .vxe-body--row.fam-erd-table__row--deleted .vxe-body--column {
  color: var(--colorDisabled);
}
#ComponentWapper-erdTable .vxe-body--row.fam-erd-table__row--deleted .vxe-body--column,
#ComponentWapper-erdTable .vxe-body--row.fam-erd-table__row--deleted a,
#ComponentWapper-erdTable .vxe-body--row.fam-erd-table__row--deleted button:not(:last-of-type) {
  text-decoration: line-through;
  text-decoration-color: currentColor;
}
#ComponentWapper-erdTable tbody tr.is-current-row, #ComponentWapper-erdTable tbody tr.is-checked {
  background-color: var(--colorPrimaryLightest);
}
#ComponentWapper-erdTable tbody tr.is-parent .vxe-cell {
  font-weight: 700;
}
#ComponentWapper-erdTable tbody tr.is-parent .vxe-tree-cell > span,
#ComponentWapper-erdTable tbody tr.is-parent .vxe-tree-cell .el-button--text {
  font-weight: 700;
}
#ComponentWapper-erdTable tbody tr.is-parent .erd-iconfont {
  font-weight: normal;
}
#ComponentWapper-erdTable tbody tr.row--level-0.is-leaf .vxe-tree-cell:first-of-type {
  padding: 0 !important;
}
#ComponentWapper-erdTable tbody tr td {
  position: relative;
  height: var(--famTableRowHeight);
}
#ComponentWapper-erdTable tbody tr td .vxe-cell--tree-node .erd-icon-arrow-down {
  color: var(--colorPrimary);
}
#ComponentWapper-erdTable tbody tr td.erd_table-editCell .vxe-cell--tree-node {
  padding-left: 0 !important;
}
#ComponentWapper-erdTable tbody tr td.erd_table-editCell .vxe-cell--tree-node .vxe-tree-cell {
  padding-left: 0;
}
#ComponentWapper-erdTable tbody tr td.erd_table-editCell .vxe-cell--tree-node .vxe-tree--btn-wrapper {
  display: none;
}
#ComponentWapper-erdTable tbody tr td .erd_table-tooltip {
  position: absolute;
  top: 0px;
  right: 4px;
}
#ComponentWapper-erdTable tbody tr .erd_table-editIcon::after {
  content: "";
  border-top: 4px solid #00a854;
  border-bottom: 4px solid transparent;
  border-right: 4px solid #00a854;
  border-left: 4px solid transparent;
  position: absolute;
  top: 0;
  right: 0;
}
#ComponentWapper-erdTable tbody tr .erd_table-valid-error.erd_table-editIcon::after {
  border-top: 4px solid #f04134;
  border-right: 4px solid #f04134;
}
#ComponentWapper-erdTable tbody tr .erd_table-valid-error .el-input__inner {
  border-color: #f04134 !important;
  border: 1px solid #f04134;
}
#ComponentWapper-erdTable tbody tr .erd_table-valid-error .vxe-input--inner {
  border-color: #f04134 !important;
  border: 1px solid #f04134;
}
#ComponentWapper-erdTable tbody tr .erd_table-valid-error .intermation {
  border-color: #f04134 !important;
}
#ComponentWapper-erdTable tbody tr .custom-select {
  overflow: hidden;
}
#ComponentWapper-erdTable tbody tr .custom-select .el-input,
#ComponentWapper-erdTable tbody tr .custom-select .el-input__inner {
  height: var(--famWidthLabelHeight) !important;
  line-height: var(--famWidthLabelHeight) !important;
}
#ComponentWapper-erdTable .fam-participant-select .component-show-body .wapperInput {
  height: var(--tableItemHeight);
  border: none !important;
}
#ComponentWapper-erdTable .fam-participant-select .component-show-body .wapperInput .el-tag--mini {
  height: var(--tableItemItemHeight);
}
#ComponentWapper-erdTable .vxe-table--render-default.size--mini {
  font-size: 14px;
  font-size: var(--fontSize);
}
#ComponentWapper-erdTable .vxe-table--render-default .vxe-body--row.row--new > .vxe-body--column:before {
  border-width: 0;
}
#ComponentWapper-erdTable .vxe-table--render-default .vxe-body--row:not(.row--new) .empty-col::before {
  content: "--";
  color: var(--colorDisabled);
  position: absolute;
  left: 8px;
}
#ComponentWapper-erdTable .vxe-table--render-default .vxe-cell {
  padding: 0 8px;
}
#ComponentWapper-erdTable .vxe-table--render-default .vxe-body--column {
  color: rgba(0, 0, 0, 0.85);
}
#ComponentWapper-erdTable .vxe-table--render-default .vxe-body--column.col--valid-error .vxe-cell--valid .vxe-cell--valid-msg {
  display: none;
}
#ComponentWapper-erdTable .vxe-input--inner {
  appearance: none;
  background-color: #fff;
  border-radius: 0px;
  border: 1px solid #dcdfe6;
  box-sizing: border-box;
  color: #606266;
  display: inline-block;
  font-size: inherit;
  height: var(--inputHeight);
  line-height: var(--inputHeight);
  outline: 0;
  padding: 0 15px;
  transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  width: 100%;
}
#ComponentWapper-erdTable .vxe-input {
  height: auto;
}
#ComponentWapper-erdTable .erd_table-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--colorTextPlaceholder);
  font-weight: 400;
}
#ComponentWapper-erdTable .erd_table-empty img {
  display: block;
  width: 120px;
  height: 100px;
  margin-bottom: 4px;
}
#ComponentWapper-erdTable .erd_table-empty span {
  height: 36px;
  line-height: 36px;
}
#ComponentWapper-erdTable .vxe-header--column .vxe-resizable.is--line:before {
  background-color: #bebebe;
}
#ComponentWapper-erdTable.embed-transfer-table {
  height: 100%;
}
#ComponentWapper-erdTable.embed-transfer-table .vxe-table--render-default .vxe-body--column .el-icon-close {
  color: var(--colorPrimary);
}
#ComponentWapper-erdTable.embed-transfer-table .vxe-table--render-default .vxe-cell--title {
  font-size: 12px;
}
#ComponentWapper-erdTable.no-border-table .vxe-table--render-default .vxe-table--header-wrapper {
  background: white;
}
#ComponentWapper-erdTable.no-border-table .vxe-table--render-default .vxe-header--column {
  background: white;
}
#ComponentWapper-erdTable.no-border-table .vxe-table--render-default .vxe-body--column {
  background: white;
}
#ComponentWapper-erdTable.no-border-table .vxe-table--render-default .vxe-table--border-line {
  border: none;
}
#ComponentWapper-erdTable.no-border-table .vxe-table--render-default .vxe-cell--title {
  color: var(--colorTextExplain);
  font-weight: normal;
  font-family: var(--fontFamily);
}
#ComponentWapper-erdTable.no-border-table .is--empty {
  border-right: none;
}
#ComponentWapper-erdTable.embed-table {
  margin: 0 16px 12px;
}
#ComponentWapper-erdTable.embed-table .vxe-table--render-default .vxe-header--column {
  background: #fbfbfb;
}
#ComponentWapper-erdTable.embed-table .vxe-table--render-default .vxe-body--column {
  background: #fbfbfb;
}
#ComponentWapper-erdTable.embed-table .vxe-table--render-default .vxe-table--body-wrapper {
  background: #fbfbfb;
}
#ComponentWapper-erdTable.embed-table .is--empty {
  margin-bottom: -12px;
}
#ComponentWapper-erdTable .vxe-body--expanded-column.col--ellipsis > .vxe-body--expanded-cell {
  background: #fbfbfb;
}
#ComponentWapper-erdTable .col--expand > .vxe-cell {
  display: flex;
  align-items: center;
}
#ComponentWapper-erdTable .col--expand > .vxe-cell .vxe-table--expand-label {
  flex-grow: 1;
}

.foldTable .vxe-table--render-default .vxe-cell--title {
  color: var(--colorTextExplain) !important;
}

.erd_table-showTooltip {
  display: block;
}
.erd_table-showTooltip.is-dark {
  background-color: #ff7875 !important;
}
.erd_table-showTooltip .popper__arrow {
  border-bottom-color: transparent !important;
  border-top-color: #ff7875 !important;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
}
.erd_table-showTooltip .popper__arrow::after {
  border-bottom-color: transparent !important;
  border-top-color: #ff7875 !important;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
}

.vxe-table--tooltip-wrapper {
  z-index: 9999 !important;
}

.filters-popClass-custom {
  max-width: 224px !important;
  min-height: 197px;
  background: #ffffff;
  border-radius: 4px;
  position: relative;
  padding: 12px;
  overflow: hidden;
}
.filters-popClass-custom ul {
  margin: 0;
}
.filters-popClass-custom .filterBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 12px 0;
}
.filters-popClass-custom .filterInputBox {
  margin-top: 20px;
}
.filters-popClass-custom .filterInputBox .el-icon-search {
  color: var(--tableSortButtonColor);
}
.filters-popClass-custom .filterCheckbox .el-checkbox-group {
  max-height: 90px;
  overflow-y: auto;
}
.filters-popClass-custom .filterCheckbox input[type=checkbox] {
  width: 0;
}
.filters-popClass-custom .filterCheckbox .el-checkbox {
  display: block;
}
.filters-popClass-custom .filterCheckbox .el-checkbox .el-checkbox__input {
  line-height: 0;
  vertical-align: top;
  margin-top: -1px;
}
.filters-popClass-custom .filterSelect ul {
  max-height: 120px;
  overflow-y: auto;
}
.filters-popClass-custom .filterSelect ul li {
  line-height: 32px;
  transition: all 0.2s ease 0s;
  padding-left: 2px;
  cursor: pointer;
}
.filters-popClass-custom .filterSelect ul li:hover, .filters-popClass-custom .filterSelect ul li.active {
  background: #ebf1ff;
  color: #000;
}
.filters-popClass-custom .filterMergeSelect .el-input {
  margin-top: 12px;
}
.filters-popClass-custom .dynamicFilter .mr12 {
  margin-top: 12px;
}
.filters-popClass-custom .paddingClearItem {
  width: 100%;
  height: 55px;
}
.filters-popClass-custom .clearItem {
  position: absolute;
  bottom: 0;
  left: 12px;
  right: 12px;
  margin: 0 auto;
  height: 68px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.filters-popClass-custom .clearItem::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  width: 224px;
  height: 1px;
  background: #d9d9d9;
  left: -12px;
  right: 0;
}
.filters-popClass-custom .clearItem .clearItem-ul {
  display: flex;
  flex-direction: column;
}
.filters-popClass-custom .clearItem .clearItem-ul > span {
  color: var(--colorPrimary);
  font-size: 12px;
  margin-bottom: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}
.filters-popClass-custom .clearItem .clearItem-ul > span:last-child {
  margin: 0;
}

/*# sourceMappingURL=style.css.map */
