.bpm-process-horse-content {
    display: flex;
    flex-direction: column;

    .el-step {
        .el-step__head {
            &.is-wait {
                border-color: #bebebe;
            }

            &.is-process {
                border-color: var(--primary-color);
                color: var(--primary-color);
            }

            &.is-finish {
                .el-step__line {
                    background-color: currentColor;
                }
            }
        }

        .el-step__icon {
            width: 20px;
            height: 20px;
        }

        .el-step__line {
            background-color: #bebebe;
            height: 50px;
        }

        .el-step__title {
            font-size: 14px;
            font-size: var(--fontSize);
            line-height: var(--navMenuItemHeight);
            height: var(--navMenuItemHeight);

            &.is-finish {
                color: #000000;
            }

            &.is-process {
                font-weight: normal;
                color: var(--primary-color);
            }
        }

        &.is-horizontal {
            .el-step__line {
                top: 8px;
            }
        }

        &.is-vertical {
            .el-step__line {
                left: 9px;
            }

            .el-step__head {
                width: 1em;
            }

            .el-button--text {
                line-height: 32px;
            }
        }

        .el-step__icon.is-text {
            border: none;
        }
    }

    .el-steps .el-step:first-child {
        .el-step__head {
            .el-step__line {
                top: 20px;
            }
        }
    }
    .el-step.is-vertical .el-step__main {
        padding-left: 14px;
    }

    .el-step__title {
        line-height: var(--navMenuItemHeight);
        height: var(--navMenuItemHeight);
    }
    .is-active {
        background-color: #f0f4fb;
        &::after {
            content: ' ';
            width: 3px;
            height: 100%;
            background-color: var(--colorPrimary);
            position: absolute;
            top: 0;
            right: 0;
        }
    }
    .process-horse-content-step {
        height: var(--navMenuItemHeight);
        flex-basis: auto !important;
        .el-step__icon {
            top: 50%;
            transform: translateY(-50%);
        }
    }
}
