#fam-type-sign {
    .type-search {
        display: flex;
        justify-content: space-between;
        margin-bottom: 16px;

        .fam-type-tree__search {
            width: 220px;
            margin-top: 0;
            vertical-align: middle;
        }
    }
}
