.library-dialog {
    .library-head {
        display: flex;
        justify-content: space-between;
        .library-code {
            color: rgba(0, 0, 0, 0.85);
            letter-spacing: 0;
            line-height: 28px;
            font-weight: 700;
            font-size: 18px;
            margin-bottom: 16px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        .library-btn {

        }
    }
    .library-files-list {
        margin-top: 16px;
        .common-attach-list {
            padding: 0;
        }
        .upload-button {
            margin: 0;
        }
    }
}

