#UnitMeasureDetail {

    .measure-header {
        justify-content: space-between;
        align-items: center;

        .type-left {
            color: var(--colorTextNormal);
            font-size: var(--fontSizeLarge);
            font-weight: 700;
        }
    }
}
