.fam-info {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--colorFullBg);

    .fam-info__header {
        display: flex;
        height: 60px;
        padding: 16px;
        align-items: center;
        .fam-base-info-title {
            flex: auto;
            width: 65%;
        }
    }
    .el-tabs {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        .el-tabs__content {
            flex-grow: 1;
            display: flex;
            flex-direction: column
        }
        #pane-team {
            display: flex;
            flex-grow: 1;
        }
    }
}
.fam-base-info-title {
    display: flex;
    align-items: center;
    padding: 0 var(--largePadding);
    .fam-base-info-title__title {
        line-height: 28px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-weight: 700;
        font-size: var(--fontSizeLarge);
        letter-spacing: 0;
        color: var(--colorTextNormal);
    }

    .fam-base-info-title__icon {
        margin-right: 8px;
        width: 24px;
        height: 24px;
        font-size: 24px;
        line-height: 28px;
    }

    .fam-base-info-title__status {
        height: 20px;
        background-color: rgba(240, 65, 52, .1);
    }
}
