<div
    id="bpm-done-content"
    class="bpm-done-content bpm-done-content h-100p bg-normal"
>
    <fam-view-table
        ref="famViewTable"
        class="bg-white"
        :view-table-config="viewTableConfig"
        @handler-data="handlerData"
    >
        <!-- 优先级 -->
        <template v-slot:[slotName.priority]="{ scope }">
            <BpmPriority v-bind="getPriority(scope)"></BpmPriority>
        </template>
        <!-- 到期日期 -->
        <template v-slot:[slotName.dueDate]="{ scope }">
            <BpmDueData :due-data="getDueDate(scope)"></BpmDueData>
        </template>
        <!-- 流程状态 -->
        <template v-slot:[slotName.processStatus]="{ scope }">
            <BpmProcessStatus :status="getStatus(scope)"></BpmProcessStatus>
        </template>
        <template #column:default:operation:content="{ scope }">
            <fam-action-pulldown
                :ref="'FamActionPulldown' + '_' + scope.rowIndex"
                :is-operation="true"
                :action-config="getActionConfig(scope.row)"
                :action-data="scope.row"
                @click="actionClick"
            ></fam-action-pulldown>
        </template>
    </fam-view-table>

    <!-- 查看流程图 -->
    <erd-ex-dialog
        :title="bpmFlowchart.title"
        :visible.sync="bpmFlowchart.visible"
        fullscreen
        :show-fullscreen="false"
    >
        <bpm-flowchart
            v-if="bpmFlowchart.visible"
            :processDefinitionId="bpmFlowchart.processDefinitionId"
            :processInstanceId="bpmFlowchart.processInstanceId"
        ></bpm-flowchart>
    </erd-ex-dialog>

    <!-- 撤回任务 -->
    <erd-ex-dialog
        :title="withdrawForm.title"
        :visible.sync="withdrawForm.visible"
        @close="cancelDelegationForm.taskId = ''"
    >
        <withdraw-form
            v-if="withdrawForm.visible"
            ref="withdrawForm"
        ></withdraw-form>
        <template #footer>
            <erd-button
                type="primary"
                v-loading="loading"
                @click="!loading && rollbackHandleClick()"
                >{{ i18nMappingObj['确定'] }}</erd-button
            >
            <erd-button @click="popover({ field: 'withdrawForm' })">{{ i18nMappingObj['取消'] }}</erd-button>
        </template>
    </erd-ex-dialog>

    <!-- 取消委派 -->
    <erd-ex-dialog
        :title="cancelDelegationForm.title"
        :visible.sync="cancelDelegationForm.visible"
        @close="cancelDelegationForm.workItemOid = ''"
    >
        <cancel-delegation-form
            v-if="cancelDelegationForm.visible"
            ref="cancelDelegationForm"
        ></cancel-delegation-form>
        <template #footer>
            <erd-button
                type="primary"
                v-loading="loading"
                @click="!loading && cancelDelegateHandleClick()"
                >{{ i18nMappingObj['确定'] }}</erd-button
            >
            <erd-button @click="popover({ field: 'cancelDelegationForm' })">{{ i18nMappingObj['取消'] }}</erd-button>
        </template>
    </erd-ex-dialog>
</div>
