#createOrEditRightTabs {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
#createOrEditRightTabs .el-tabs__content {
  display: none;
}
#createOrEditRightTabs .draggable-custom-box .el-scrollbar__view {
  background-color: #f1f1f1;
}

#createPermission {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
#createPermission .create-permission-panel-title {
  display: flex;
  justify-content: space-between;
  padding: var(--largePadding);
  align-items: center;
}
#createPermission .create-permission-panel-title .create-permission-panel-title-left {
  color: rgba(0, 0, 0, 0.45);
  font-size: 12px;
  height: 32px;
  line-height: 32px;
  word-break: break-all;
  display: flex;
  max-width: 36rem;
}
#createPermission .create-permission-panel-title .create-permission-panel-title-left .main-title {
  font-size: 16px;
  color: var(--colorTextNormal);
  font-weight: bolder;
  padding-right: 7px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 24rem;
}
#createPermission .custom-chosen-class {
  opacity: 1 !important;
}
#createPermission .custom-drag-class {
  opacity: 1 !important;
  box-shadow: none !important;
  outline: none !important;
  background-image: none !important;
}
#createPermission .itxst {
  display: flex;
  flex-grow: 1;
  padding: 0 var(--largePadding) var(--largePadding);
}
#createPermission .itxst .draggable-custom-box-title {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.45);
  padding: var(--normalPadding);
}
#createPermission .itxst .draggable-custom-box-title-main {
  font-size: 14px;
  font-size: var(--fontSize);
  color: var(--colorTextNormal);
  font-weight: bolder;
  padding-right: var(--miniPadding);
}
#createPermission .itxst .draggable-custom-box {
  display: flex;
  flex-direction: column;
  flex: 1;
  border: solid 1px #eee;
  border-radius: 5px;
  background-color: #f1f1f1;
}
#createPermission .itxst .draggable-custom-box > .el-scrollbar {
  height: calc(100% - 42px);
}
#createPermission .itxst .draggable-custom-box > .el-scrollbar .el-scrollbar__wrap,
#createPermission .itxst .draggable-custom-box > .el-scrollbar .el-scrollbar__view,
#createPermission .itxst .draggable-custom-box > .el-scrollbar .el-scrollbar__view > div {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
#createPermission .itxst .draggable-custom-box + .draggable-custom-box {
  margin-left: 10px;
}
#createPermission .itxst .draggable-custom-box + .draggable-active {
  background-color: #effdf4;
  border: 1px dotted #00a854;
}
#createPermission .itxst .draggable-custom-box + .draggable-active .el-scrollbar__view {
  background-color: #effdf4 !important;
}
#createPermission .item-first-box,
#createPermission .item-second-box,
#createPermission .item-third-box {
  width: 47%;
  height: 32px;
  line-height: 22px;
  padding: 4px 10px;
  margin: 0px 0px 8px 10px;
  background: #ffffff;
  border: 1px solid rgb(217, 217, 217);
  border-radius: 2px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: move;
  font-size: 14px;
  font-size: var(--fontSize);
}
#createPermission .item-first-box #showTooltip .el-tooltip span,
#createPermission .item-second-box #showTooltip .el-tooltip span,
#createPermission .item-third-box #showTooltip .el-tooltip span {
  color: var(--colorTextNormal);
}
#createPermission .item:hover {
  background-color: #fdfdfd;
  cursor: move;
}
#createPermission .item + .item {
  border-top: none;
  margin-top: 6px;
}
#createPermission .transition-group-custom-class {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  margin: 0px 10px 0px 0px;
  justify-content: space-between;
  align-content: flex-start;
}
#createPermission .create-permission-options-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--normalPadding) 0;
  border-top: 1px solid #ebebeb;
  background: #ffffff;
  height: calc(var(--normalPadding) * 2 + var(--buttonHeight));
}
#createPermission .custom-ghost-class {
  font-weight: bolder;
  box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.15);
}

.custom-confirm-cancel .el-message-box__message {
  font-size: 14px;
  font-size: var(--fontSize);
}

/*# sourceMappingURL=style.css.map */
