#fam-type-attr {
    .flex {
        display: flex;
        align-items: center;
    }
    .type-search {
        margin-bottom: 16px;
        display: flex;
        justify-content: space-between;

        .fam-type-tree__search {
            width: 220px;
            margin-top: 0;
            vertical-align: middle;

            .fam-type-attr-icon-search {
                line-height: var(--inputHeight);
            }
        }

        button {
            min-width: 80px;
            overflow: hidden;
        }
    }
    .attr-detail {
        .attr-title {
            margin-bottom: 8px;
        }

        a {
            text-decoration: none;
            color: var(--colorTextExplain);
        }

        .detail-icon {
            font-size: 16px;
        }

        .detail-line {
            width: 1px;
            margin: 0 14px;
            height: 16px;
            border-left: 1px solid rgba(0, 0, 0, 0.15);
        }
        .detail-title {
            font-size: var(--fontSizeLarge);
            color: #333333;
            letter-spacing: 0;
            font-weight: 400;
        }
    }
}
