.fam-user-group-manager {
    height: 100%;
    .fam-resizable-container__left {
        position: relative;
        .fam-user-group-tree {
            .tree-node-content {
                position: relative;

                .fam-organization-manager__node-operation {
                    height: 26px;
                    line-height: 26px;
                }
            }
        }

    }
    .fontSize18{
        font-size: 18px !important;
    }
    .user-group-info-container{
        padding: 12px;
    }
    .right-contaienr{
        position: relative;
    }
    .right-operateBtns{
        position: absolute;
        top: 3px;
        right: 12px;
    }

}
.radio-form-item{
    margin-bottom: 0;
}