<erd-ex-dialog
    :title="title"
    :visible.sync="visible"
    :destroy-on-close="true"
    @close="handleClose"
>
    <FamDynamicForm
        v-if="visible"
        ref="form"
        labelPosition="right"
        label-width="100px"
        :form.sync="formData"
        :data="formConfig"
    >
    </FamDynamicForm>

    <template #footer>
        <erd-button
            type="primary"
            @click="confirm"
        >
            {{ i18nMappingObj.confirm }}
        </erd-button>
        <erd-button @click="cancel"> {{ i18nMappingObj.cancel }} </erd-button>
    </template>
</erd-ex-dialog>
