.baseline-detail-tabs {
  .el-tabs__header {
    background-color: var(--colorFullBg);
  }

  .el-tabs__content {
    height: calc(100% - 40px);
  }

  .relationObj-baseLine,
  .history-record {
    height: 100%;

    .el-scrollbar__view {
      height: 100%;
    }
  }
}

.history-record .fam-advanced-table-component.adaptive-height .viewtable-body-container>.el-pagination {
  margin-bottom: 0px;
}

#object-common-space .object-common-space__content>.el-scrollbar__view {
  padding: 0 !important;
}