<div
    id="pdm_object_attrInfo"
    class="h-100p flex flex-column"
>
    <el-scrollbar
        wrap-style="height:100%;overflow-y: scroll;"
        style="height: 1px; flex-grow: 1"
    >
        <fam-advanced-form
            :form-id="formId"
            :class-name="className"
            :model.sync="formData"
            :oid="oid"
            :object-oid="oid"
            :model-mapper="modelMapper"
            :query-layout-params="queryLayoutParams"
            ref="attrInfoForm"
            @base-form-data="baseFormData"
        >
            <template #folder="scope">
                <erd-show-tooltip
                    class="w-100p"
                    placement="top"
                    :content="scope.data?.folderRef?.displayName"
                    :enterable="false"
                    :flex="false"
                    :open-delay="100"
                >
                    <template v-slot:show-tooltip-title>
                        <span class="title_text">
                            <a
                                href="javascript:;"
                                @click="goFolder(scope.data)"
                            >
                                {{ scope.data?.folderRef?.displayName}}
                            </a>
                        </span>
                    </template>
                </erd-show-tooltip>
            </template>
            <template #classify-reference="scope">
                <erd-show-tooltip
                    class="w-100p"
                    placement="top"
                    :content="scope.data?.classifyReference?.displayName"
                    :enterable="false"
                    :flex="false"
                    :open-delay="100"
                >
                    <template v-slot:show-tooltip-title>
                        <span class="title_text">
                            <span> {{ scope.data?.classifyReference?.displayName}} </span>
                        </span>
                    </template>
                </erd-show-tooltip>
            </template>
            <!-- 部件插槽 -->
            <template #attach-file>
                <UploadFileList
                    ref="attachment"
                    :oid="oid"
                    :className="className"
                    :readonly="true"
                    :vm="vm"
                >
                </UploadFileList>
            </template>
            <!-- 文档插槽 -->
            <template #files>
                <UploadFileList
                    ref="attachment"
                    :oid="oid"
                    :className="className"
                    :readonly="true"
                >
                </UploadFileList>
            </template>
            <!-- 上下文插槽 -->
            <template #context="scope">
                <erd-button
                    type="text"
                    @click="handleGoDetail(scope.data)"
                >
                    {{ scope.data?.containerRef?.displayName }}
                </erd-button>
            </template>
            <!-- 生命周期插槽 -->
            <template
                slot="lifecyle-status"
                slot-scope="scope"
            >
                <lifecyleStatus :data="sourceData"></lifecyleStatus>
            </template>
        </fam-advanced-form>
    </el-scrollbar>
</div>
