<div>
    <erd-contraction-panel
        :title="i18nMappingObj.nodeProcessConfiguration"
        :unfold.sync="expanded"
    >
        <template v-slot:content>
            <FamDynamicForm
                ref="form"
                :form.sync="mailForm"
                :data="formConfigs"
                :schema-mapper="schemaMapper"
                label-width="120px"
                :readonly="readonly"
                @field:change="onFieldChange"
            >
            </FamDynamicForm>
        </template>
    </erd-contraction-panel>
</div>
