#LifecycleInformation {
    .lifecycle-tooltip {
        height: 20px;
        font-size: 12px;
        color: rgba(0, 0, 0, 0.45);
        letter-spacing: 0;
        line-height: 20px;
        font-weight: 400;
    }
    .tree-select {
        width: 100%;
    }
}
