.view-task-content {
    background-color: #ffffff;

    .fam-view-table-header-component .viewtable-header-container .left-header-contaienr,
    .fam-view-table-header-component .viewtable-header-container .right-header-contaienr {
        margin: 0;
    }

    .fam-view-table-component .advanced-table-container {
        padding: 0;
    }
}
