.ppm-process-dialog{
    .el-dialog__body {
        padding: 0;

    }
    .detail-content{
        .el-tab-pane {
            padding: 16px 0;
        }

        .table-container {
            margin-top: var(--largeSpace);
        }
    }

}