.fam-switch-app-popover {
  padding: 0;
}

.fam-switch-app-body {
  margin-bottom: 10px;
}
.fam-switch-app-body .chosen {
  border: 1px solid var(--colorPrimary);
}
.fam-switch-app-body .erd-icon-double-drag {
  cursor: move;
}
.fam-switch-app-body .fam-switch-app-body-sort-edit-icon {
  padding: 3px;
  position: absolute;
  right: 14px;
  top: 3px;
  border-radius: 5px;
  cursor: pointer;
}
.fam-switch-app-body .fam-switch-app-body-sort-edit-icon:hover {
  background-color: #f5f5f5;
}
.fam-switch-app-body .fam-switch-app_tag h4 {
  font-size: 16px;
  font-weight: 600;
}
.fam-switch-app-body .fam-switch-app_tag .fam-switch-app_tag_content .fam-switch-app_popover_item {
  position: relative;
  cursor: pointer;
  padding-top: 10px;
  width: 120px;
  height: 80px;
  border-radius: 5px;
}
.fam-switch-app-body .fam-switch-app_tag .fam-switch-app_tag_content .fam-switch-app_popover_item .erd-icon-double-drag {
  position: absolute;
  left: 5px;
  top: 5px;
  cursor: move;
}
.fam-switch-app-body .fam-switch-app_tag .fam-switch-app_tag_content .fam-switch-app_popover_item .el-icon-close {
  display: none;
  position: absolute;
  right: 5px;
  top: 5px;
}
.fam-switch-app-body .fam-switch-app_tag .fam-switch-app_tag_content .fam-switch-app_popover_item .el-icon-close:hover {
  color: #0a84ff;
}
.fam-switch-app-body .fam-switch-app_tag .fam-switch-app_tag_content .fam-switch-app_popover_item img {
  transition: all 0.2s ease-out;
  width: 40px;
  height: 40px;
}
.fam-switch-app-body .fam-switch-app_tag .fam-switch-app_tag_content .fam-switch-app_popover_item:nth-child(3n+1) {
  margin-left: 0;
}
.fam-switch-app-body .fam-switch-app_tag .fam-switch-app_tag_content .fam-switch-app_popover_item:nth-child(-n+3) {
  margin-top: 0;
}
.fam-switch-app-body .fam-switch-app_tag .fam-switch-app_tag_content .fam-switch-app_popover_item:hover {
  background-color: #f5f5f5;
}
.fam-switch-app-body .fam-switch-app_tag .fam-switch-app_tag_content .fam-switch-app_popover_item:hover img {
  transform: translateY(-3px);
}
.fam-switch-app-body .fam-switch-app_tag .fam-switch-app_tag_content .fam-switch-app_popover_item.isDragging:hover {
  background-color: inherit;
}
.fam-switch-app-body .fam-switch-app_tag .fam-switch-app_tag_content .fam-switch-app_popover_item.isDragging:hover .el-icon-close {
  display: inline;
  color: #0a84ff;
}
.fam-switch-app-body .fam-switch-app_tag .fam-switch-app_tag_content .popover-item {
  width: 90px !important;
}
.fam-switch-app-body .fam-switch-app_tag .fam-switch-app_tag_content .fam-switch-app_popover_item_rectangle {
  cursor: pointer;
  display: flex;
  width: 150px;
  padding: 8px 0;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.fam-switch-app-body .fam-switch-app_tag .fam-switch-app_tag_content .fam-switch-app_popover_item_rectangle img {
  width: 20px;
  height: 20px;
}
.fam-switch-app-body .fam-switch-app_tag .fam-switch-app_tag_content .fam-switch-app_popover_item_rectangle span {
  flex-grow: 1;
  color: #141C28;
}
.fam-switch-app-body .fam-switch-app_tag .fam-switch-app_tag_content .fam-switch-app_popover_item_rectangle .erd-iconfont {
  color: var(--colorPrimary);
  font-size: 20px;
}
.fam-switch-app-body .fam-switch-app_tag .fam-switch-app_tag_content .fam-switch-app_popover_item_rectangle:hover {
  background-color: #f5f5f5;
}
.fam-switch-app-body .fam-switch-app_tag .fam-switch-app_tag_content .fam-switch-app_popover_item_rectangle:hover .star-off {
  color: #2779ff;
}
.fam-switch-app-body .fam-switch-app_tag .fam-switch-app_tag_content .fam-switch-app_popover_item_rectangle.isDragging:hover {
  background-color: inherit;
}
.fam-switch-app-body .fam-switch-app_tag .fam-switch-app_tag_content .fam-switch-app_popover_item_rectangle .star-on {
  color: #2779ff;
  width: 44px;
  text-align: right;
}
.fam-switch-app-body .fam-switch-app_tag .fam-switch-app_tag_content .fam-switch-app_popover_item_rectangle .star-off {
  color: #A8AEBA;
  width: 44px;
  text-align: right;
  padding: 2px;
}
.fam-switch-app-body .fam-switch-app_tag + .fam-switch-app_tag {
  margin-top: var(--superSpace);
}

/*# sourceMappingURL=index.css.map */
