.approver-configure {
    .approver-panel {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .panel-title-icon {
            font-size: var(--fontSize);
            color: var(--colorPrimary);
        }
    }
}

.approver-configure-dialog {
    .approver-empty {
        color: var(--colorTextPlaceholder);
    }
}
