#upload-file-list {
    .ContractionPanel {
        .panelLeft{
            align-self: flex-start !important
        }
    }
}
.el-input__count .el-input__count-inner {
    background: none !important;
}
.h-30-textarea {
    textarea {
        height: 31px;
        min-height: 32px !important;
    }
}
