.erdcloud_upload_tmpl_tips{
    line-height: 1.8;
    display: inline-block;
    width: 100%;
    margin-bottom: 14px;
    padding: 6px 8px;
    background-color: #f4f4f5;
    border-color: #e9e9eb;
    color: rgba(0,0,0,0.65);
}
