#QueueList {
    padding: var(--famNormalSpace);
    .QueueList-header {
        justify-content: space-between;
        line-height: 28px;

        .title {
            font-size: var(--fontSizeLarge);
            font-weight: 700;
            color: var(--colorTextNormal);
        }
    }

    .operation {
        width: 100%;
        justify-content: space-between;
    }

    .main {
        padding-top: 16px;
    }
}

.erd-dropdown-link-queue {
    cursor: pointer;
    color: var(--colorPrimary);
}
