.advanced-group-search-container .fam-advanced-group .fam-advanced-conditions-add {
    margin-left: 0!important;
}
.create-view-version-table-header-cell {
    background-color: #f8f8f8;
}
.create-view-version-form-dialog .el-dialog__body {
    padding: 20px!important;
}
.create-view-version-table .vxe-tree-cell {
    padding-left: 16px;
}
