#change-business-form {
    padding-left: var(--superSpace);

    .task,
    .requirement,
    .issue,
    .risk,
    .discreteTask {
        margin-top: calc(var(--bigSpace) * 2);

        .el-tabs__content {
            .el-tab-pane {
                padding: 0;
                padding-top: var(--tabsItemContentPadding);
            }
        }
    }
}

#project-plan {
    margin-top: calc(var(--bigSpace) * 2);

    .project-plan-table {
        padding: 0;
        .advanced-table-container {
            padding: 0;
        }
    }
}

.el-dialog__wrapper {
    .ppm-gantt {
        .ppm-gantt-planset-container {
            justify-content: space-between;
        }
        #ppm-gantt-container {
            padding: var(--largeSpace) 0;
        }
    }
}

.ppm-project-change {
    display: flex;
    align-items: center;

    .change-label {
        margin-right: var(--bigSpace);
    }

    .change-value {
        width: calc(100% - 68px);
    }
    .el-select--medium {
        width: calc(100% - 68px);
    }
    .change-content-select {
        width: calc(100% - 68px);
        padding-top: 4px;
    }
}

#cahnge-info {
    .header-title-text {
        height: var(--tableRowHeight);
        line-height: var(--tableRowHeight);
        font-weight: 600;
        font-size: 16px;
        text-align: center;
        background-color: #f8f8f8;
        border-left: 1px solid #e8eaec;
        border-top: 1px solid #e8eaec;
    }

    #ComponentWapper-erdTable {
        height: 100%;

        .vxe-table {
            height: 100%;

            .vxe-table--render-wrapper {
                height: 100%;

                .vxe-table--main-wrapper {
                    height: 100%;

                    .vxe-table--body-wrapper {
                        min-height: 280px;
                        height: calc(100% - var(--tableRowHeight)) !important;
                    }
                }
            }
        }
    }
}

.description-dialog {
    .el-dialog__body {
        min-height: 200px;

        .quill-editor-static-text {
            // min-height: 80px;
            img {
                width: 100%;
            }
        }
    }
}

.ppm-add-role {
    .team-search-btn {
        display: none !important;
    }
}

.basic-msg {
    .ContractionPanel {
        padding-bottom: calc(var(--superSpace) * 2) !important;
    }
}
.effect-data-container {
    #FamViewTable {
        .advanced-table-container {
            padding: 0;
        }
    }
}
