<erd-ex-dialog
    v-bind="$attrs"
    v-on="$listeners"
    :title="title"
    :visible.sync="dialogVisible"
    size="large"
    @open="onOpenDialog"
>
    <div class="flex position-absolute">
        <fam-basic-filter
            class="pdm-object-select-dialog--filter"
            ref="basicFilter"
            :conditionColumnsList="formattedBasicFilterConditions"
            :clearable="false"
            :removeable="false"
            @condition-change="onConditionChange"
        ></fam-basic-filter>
        <erd-input
            v-model="searchKey"
            class="pdm-object-select-dialog--search"
            suffix-icon="erd-iconfont erd-icon-search"
            :placeholder="i18n['请输入编码或名称']"
            @change="fnSearchTable"
        >
        </erd-input>
    </div>

    <fam-advanced-table
        v-if="isReady"
        class="pdm-object-select-dialog--table"
        ref="famAdvancedTable"
        :view-table-config="viewTableConfig"
        is-adaptive-height
        enable-scroll-load
    >
        <template #column:default:icon:content="{scope}">
            <FamIcon
                :value="getIcon(scope.row)"
                class="text-16 mr-sm text-center"
            ></FamIcon>
        </template>

        <!--其它动态插槽-->
        <template
            v-for="(slot, name) in $scopedSlots"
            :slot="name"
            slot-scope="scope"
        >
            <slot
                :name="name"
                v-bind="scope"
            ></slot>
        </template>
    </fam-advanced-table>

    <template #footer>
        <erd-button
            type="primary"
            @click="onSubmit"
            >{{ i18n.confirm }}</erd-button
        >
        <erd-button @click="dialogVisible = false">{{ i18n.cancel }}</erd-button>
    </template>
</erd-ex-dialog>
