.fam-advanced-conditions{
    .conditions-container{
        max-height: var(--conditionMaxHeight);
        width: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        .my-title-label{
            margin: 0;
            padding: 0;
            text-align: right;
            justify-content: end;
            float: right;
        }
        .el-select,.el-input{
            width: 100%;
        }
        .condition-row-item{
            margin-bottom: 10px;
        }
    }
    .el-row{
        .el-col{
            margin-bottom: 0px !important;
        }
    }
    .my-icon-btn{
        // margin-bottom: 12px;
        .el-icon-plus{
            font-size: 12px;
        }
        span{
            margin-left: 0;
        }
    }
    .footer-form-item{
        margin-bottom: 0;
        .el-form-item__content{
            text-align: center;
            justify-content: center;
        }
    }
}