.message-abstract {
    .message-popover__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .message-popover__content {
        height: 324px;
        .no-content {
            text-align: center;
            height: 100%;
        }
        .has-content {
            .list-item {
                height: 102px;
                border-bottom: 1px solid #EBEBEB;
                padding: 12px 20px;
                &-date {
                    color: #89919F;
                }
                &:hover {
                    background-color: #eaf1fe;
                    cursor: pointer;
                }
            }
        }
    }
    .message-popover__footer {
        height: 56px;
        border-top: 1px solid #EBEBEB;
        color: #2779FF;
        font-size: 14px;
        padding: 0 16px;
    }

    .text-ellipsis {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
}
