<div id="NewEditComponent">
    <erd-ex-dialog 
    :title="title"
    :visible.sync="innerVisible"
    width="1200px">
        <div class="NewEditComponent">
            <FamDynamicForm
                ref="dynamicForm"
                :form="formData"
                :data="data"
                @form-change="formChange"
                :readonly="readonly"
                :validateOnRuleChange="validateOnRuleChange">
                <template v-slot:isDataTypeRef="scope">
                    <erd-radio-group  v-model="scope.data[scope.formConfig.field]"  v-if="!scope.formConfig.disabled">
                        <erd-radio :label="true">{{i18nMappingObj.yes}}</erd-radio>
                        <erd-radio :label="false">{{i18nMappingObj.no}}</erd-radio>
                    </erd-radio-group>
                    <span v-if="scope.formConfig.disabled">{{scope.data[scope.formConfig.field]?i18nMappingObj.yes : i18nMappingObj.no}}</span>
                </template>
            </FamDynamicForm>
        </div>
        <span slot="footer" class="dialog-footer">
            <erd-button v-if="typeComponent == 'check'" @click="onEdit">{{i18nMappingObj.edit}}</erd-button>
            <erd-button type="primary" @click="saveSubmit" :loading="loading" :disabled="disabled" v-if="typeComponent != 'check'">{{i18nMappingObj.confirm}}</erd-button>
            <erd-button @click="onCancel">{{i18nMappingObj.cancel}}</erd-button>
        </span>
    </erd-ex-dialog>
</div>