.ppm-my-work-hour-container {
    // padding: var(--bigSpace);
    #FamAdvancedTable {
        padding: var(--bigSpace);
        background: #fff;
        padding: var(--largeSpace) var(--largeSpace) 0;
    }

    #FamViewTable {
        .advanced-table-container {
            padding: 0;
        }
    }

    #FamViewNavbar {
        display: none;
    }
}

.ppm-work-hour-list-container {
    #FamViewNavbar {
        // display: none;
        // background: white;
        margin: 0;
    }

    #FamViewTable {
        padding: var(--bigSpace);
        .fam-advanced-table-component {
            background-color: #fff;
            padding: var(--largeSpace) var(--largeSpace) 0;
        }

        .advanced-table-container {
            padding: 0;
        }
    }
}

.ppm-work-hour-form-container {
    height: calc(100% - 46px);
    .ppm-workhour-table-container {
        height: calc(100% - 66px);
        overflow: auto;

        .ppm-workhour-table-panel {
            &:not(:last-child) {
                .ContractionPanel {
                    padding-bottom: var(--normalSpace);
                }
            }
        }

        &::-webkit-scrollbar {
            height: 8px;
            width: 8px;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 5px rgba(144, 147, 153, 0.3);
            background: rgba(144, 147, 153, 0.3);
        }
    }
    & + .ppm-workhour-submit-container {
        padding: var(--bigSpace);
        text-align: center;
        background: rgb(255, 255, 255);
        border-top: 1px solid #ebebeb;
        position: absolute;
        width: calc(100% - 24px);
        z-index: 100;
    }

    .ppm-work-hour-weekPicker {
        position: absolute;
        left: 51px;
        top: -1px;
        z-index: -1;
    }

    .el-loading-mask {
        top: 66px;
    }
}

.ppm-workhour-table {
    #ComponentWapper-erdTable {
        .vxe-table--render-default .vxe-header--column {
            height: 54px;
        }

        .vxe-table--body-wrapper {
            .col--workhour {
                .vxe-cell {
                    width: 100%;
                    height: 100%;
                    padding: 0;
                    div {
                        width: 100%;
                        height: 100%;
                        padding: 0 8px;
                        display: flex;
                        align-items: center;
                    }
                }

                &:hover {
                    background-color: #e4ecff;
                    .erd-icon-edit {
                        display: inline-block;
                    }
                }

                .erd-icon-edit {
                    display: none;
                    margin-left: auto;
                }

                .col--dirty {
                    background: none;
                }
            }
        }

        .vxe-footer--row {
            background: #f8f8f8;
            & > .vxe-footer--column {
                text-align: left;
            }
            & > .vxe-footer--column:first-child {
                text-align: right;
            }
        }
    }

    #FamViewTableHeader {
        .viewtable-header-container {
            padding: 0;
            min-height: 0;
        }
    }

    .ppm-work-hour-table-line {
        display: inline-block;
        width: 16px;
        height: 1px;
        border-top: 1px solid var(--colorTextNormal);
    }

    .ppm-workhour-table-header-cell {
        span {
            height: 12px;
            line-height: 12px;
        }
    }
}

.ppm-time-enter-panel {
    width: 480px;
    padding: 0;
    border: 1px solid var(--colorPrimary);

    .popper__arrow {
        display: none;
    }
}

.ppm-work-hour-table-popover {
    .el-popover {
        padding: 8px;
    }
    .detail-time-info {
        width: 224px;
        .detail-hour-info {
            color: var(--colorTreeSelect);
            font-size: var(--fontSize);
        }
        .detail-close {
            color: var(--colorTreeSelect);
            font-size: var(--fontSizeLarge);
        }
        .detail-desc-info {
            color: var(--colorTextPlaceholder);
        }
    }
    .ppm-time-enter-panel {
        border: none;
        width: 240px;
    }
}
