.version-select {
    .compare_select {
        margin-left: 20px;
    }

    .compare_label {
        margin-left: 20px;
        line-height: 22px;
    }
    .compare_required {
        color: #f00;
        margin-left: 5px;
    }
}
