
.dropdown-list  .el-dropdown-selfdefine {
    display: flex;
    align-items: center;
}
.dropdown-list .current-name {
    color: #141c28;
    margin-left: 4px;
}
.dropdown-list:hover {
    cursor: pointer;
}

.dropdown-list .el-icon-arrow-down {
    font-weight: 700;
    color: #89919F;
}

.dropdown-list .ppm-simple-select-icon {
    font-size: 16px;
    color: var(--colorPrimary);
}

.list-content .is-disabled {
    background-color: #fff;
    font-size: var(--fontSizeMini);
}