.lifecyle-step {
    padding: 9px 12px 0px;
    .el-step.is-vertical .el-step__head {
        width: 12px;
    }
    .el-step.is-vertical .el-step__line {
        left: 6px;
        background: #D9D9D9;
    }
    .el-step.is-vertical .el-step__main {
        padding-left: 4px;
    }
    .el-step.is-vertical .el-step__title {
        line-height: 32px;
        padding-bottom: 0px;
        font-size: 14px;
        position: relative;
        top: -10px;
    }
    .el-step__icon {
        width: 14px;
        height: 14px;
        background: #D9D9D9;
    }
    .el-step__icon.is-text {
        top: -2px;

    }
    .el-step__icon-inner {
        display: none;
    }
    .el-steps .el-step__head.is-process .el-step__icon {
        background: #567FFD;

    }
    .el-step__title.is-process {
        color: #567FFD;
    }
}