.bpm-process-approval {
    padding-bottom: 12px;

    .opinion-class {
        width: 100%;

        >button {
            margin-top: 4px;
        }
    }

    .sign-submit {
        margin-left: 8px;
        min-width: 80px;
        width: auto;
    }

    .w-416 {
        width: 416px !important;
    }
    .opinion-tag {
        background-color: #f0f4fb;
        color: var(--colorTextNormal);
    }
}
