<erd-ex-dialog
    v-if="dialogIsVisiable"
    :title="dialogTitle"
    :visible.sync="dialogIsVisiable"
    @close="onHandlerCancel"
    width="1200px"
>
    <div class="dialog-main-content">
        <common-info-form
            ref="commonPageLayoutForm"
            :class-name="className"
            :class-name-key="classNameKey"
            :route-qury-params="routeQueryParams"
            :dialog-form-info="dialogFormInfo"
            @handler-submit-success="submitSuccessCallback"
            @handler-click-form-edit-btn="handlerClickFormEditBtn"
            @form-callback-close="formCloseCb"
        ></common-info-form>
    </div>
    <span
        slot="footer"
        class="dialog-footer"
        v-if="this.dialogFormInfo?.dialogFormType === 'CREATE' || this.dialogFormInfo?.dialogFormType === 'UPDATE'"
    >
        <erd-button
            type="primary"
            @click="onHandlerConfirm"
            >确定</erd-button
        >
        <!-- <erd-button @click="onHandlerSaveDraft">保存草稿 </erd-button> -->
        <erd-button @click="onHandlerCancel">取消</erd-button>
    </span>
</erd-ex-dialog>
