.msg-detail {
    .el-dialog__body {
        padding: 0px !important;
    }
    .msg_content {
        height: 100%;
        overflow: auto;
        padding: 16px;
        .msg_title {
            font-size: 14px;
            font-weight: 700;
            color: #141c28;
        }
    
        .sub_title {
            margin: 0px 0 -18px;
        }
    }

    .msg-foot {
        border-top: 1px solid #ebebeb;
        height: 56px;
        padding: 16px;
        display: flex;
        justify-content: space-between;
        &-date {
            color: #89919f;
            font-size: 12px;
        }
    }
}


#msg_content_ctt span {
    margin: 5px;
}

span[type='success'] {
    color: green;
}

span[type='warning'] {
    color: orange;
}
