.product-enditem-view_table {
    .advanced-table-container {
        padding-left: 0!important;
        padding-right: 0!important;
    }
    .fam-basicfilter-container .fam-basicfilter-btn {
        margin: 16px 0 0;
    }
    .fam-basicfilter-container>form>.el-form-item {
        margin-top: 16px;
    }
}
