<div class="workspace-add-container h-100p p-lg flex-column flex">
    <div class="plr-xl">
        <FormPageTitle
            v-bind="pageTitle"
            class="pb-lg"
        ></FormPageTitle>
    </div>
    <erd-scrollbar
        class="bg-white p-xl grow-1"
        v-fam-fs="{ marginBottom: 140 }"
    >
        <erd-form
            :model="formData"
            label-position="right"
            label-width="12.5%"
            :rules="rules"
            ref="baseFormRef"
            :validate-on-rule-change="false"
        >
            <erd-form-item
                :label="i18n.workspace"
                prop="workspace"
            >
                <erd-row>
                    <erd-col
                        :span="24"
                        class="flex"
                    >
                        <erd-ex-select
                            filterable
                            :placeholder="i18n.pleaseSelectWorkspace"
                            v-model="formData.workspace"
                        >
                            <erd-option
                                v-for="item in workspaceOptions"
                                :key="item.oid"
                                :label="item.name"
                                :value="item.oid"
                            >
                            </erd-option>
                        </erd-ex-select>
                        <erd-button
                            class="workspace-add-btn"
                            @click="createWorkspace"
                            >{{i18n.create}}</erd-button
                        >
                    </erd-col>
                </erd-row>
            </erd-form-item>
        </erd-form>
        <erd-contraction-panel
            :unfold.sync="panelUnfold"
            :title="i18n.objectList"
            class="mt-2xl"
        >
            <template v-slot:header-right>
                <div
                    class="btn-group font-0"
                    v-show="panelUnfold"
                >
                    <erd-button @click="handleRelateObjectAdd">{{i18n.add}}</erd-button>
                    <erd-button @click="handleRelateObjectGather">{{i18n.gatherRelateObject}}</erd-button>
                    <erd-button @click="handleSelectedRelateObjectRemove">{{i18n.remove}}</erd-button>
                </div>
            </template>
            <template v-slot:content>
                <FamErdTable
                    border
                    :data="tableData"
                    :column="columns"
                    ref="erdTable"
                    show-overflow
                    auto-resize
                    isEmbedTable
                    :row-config="{isCurrent: true, isHover: true}"
                    @checkbox-all="handleSelectionAll"
                    @checkbox-change="handleSelectionChange"
                >
                    <template #column:default:identifierNo="{ data }">
                        <a
                            href="javascript:;"
                            @click="handleNoClick(data.row)"
                            >{{data.row[data.column.property]}}</a
                        >
                    </template>
                </FamErdTable>
            </template>
        </erd-contraction-panel>
    </erd-scrollbar>
    <div class="form-content_bot flex ptb-lg items-center position-relative justify-center bg-white">
        <erd-button
            :loading="btnLoading"
            type="primary"
            @click="handleConfirmBtnClick"
        >
            {{i18n.confirm}}
        </erd-button>
        <erd-button @click="handleClose()"> {{i18n.cancel}} </erd-button>
    </div>

    <!-- 添加对象 -->
    <RelatedObject
        v-if="objectVisible"
        :visible.sync="objectVisible"
        v-bind="objectFormProps"
        @submit="handleAssociationDone"
    >
    </RelatedObject>

    <!-- 收集相关对象 -->
    <erd-ex-dialog
        size="large"
        :title="collectForm.title"
        :visible.sync="collectForm.visible"
        @close="collectForm.tableData = []"
    >
        <CollectObjects
            ref="collectObjectsRef"
            v-if="collectForm.visible"
            :table-data="collectForm.tableData"
            :class-name="collectForm.className"
        ></CollectObjects>
        <template #footer>
            <erd-button
                type="primary"
                @click="!collectForm.loading && collectObjectClick()"
                >{{ i18n['confirm'] }}</erd-button
            >
            <erd-button @click="popover({ field: 'collectForm' })">{{ i18n['cancel'] }}</erd-button>
        </template>
    </erd-ex-dialog>
</div>
