#BaseInfoConfig {
    padding: 12px 16px;

    .BaseInfoConfig-header {
        padding: 10px 0;
        width: 100%;
        font-size: var(--fontSizeLarge);
        font-weight: 700;
    }

    .content {
        width: 100%;

        .operation {
            width: 100%;
            justify-content: space-between;
            align-items: center;
        }

        .satte-table {
            padding: 8px 0;
        }
    }
}
