<div class="review_element">
    <fam-view-table
        :view-table-config="viewTableConfig"
        :view-table-height="tableMaxHeight"
        ref="deliverables"
        @action-click="actionClick"
        :enable-scroll-load="true"
    >
        <template
            v-for="slot in slotsNameList"
            v-slot:[slot]="{ scope }"
        >
            <div v-if="slot === 'column:default:operation:content'">
                <fam-action-pulldowm
                    :is-operation="true"
                    :action-config="getActionConfig(scope.row)"
                    :action-data="scope.row"
                    @click="onCommand"
                    :args="[vm, scope.row, true]"
                ></fam-action-pulldowm>
            </div>
        </template>
    </fam-view-table>
    <cropping-dialog
        v-if="showCroppDialog"
        :className="className"
        :visible.sync="showCroppDialog"
        :title="i18nMappingObj.batchSetCropping"
        :oid="oid"
        :selectList="selectList"
        :currentSelectTreeData="treeDetail"
        @submit-success="afterSubmit"
    ></cropping-dialog>
    <dialog-form
        v-if="showFormDialog"
        :visible.sync="showFormDialog"
        :title="formDialogTitle"
        :className="className"
        :currentSelectTreeData="treeDetail"
        @before-submit="beforeSubmit"
        @after-submit="afterSubmit"
        @echo-data="echoData"
        :oid="oid"
        :layoutName="layoutName"
    ></dialog-form>
</div>
