#object-common-space {
    display: flex;
    flex-direction: column;
    height: 100%;
}
#object-common-space .ultra-third {
    width: 100%;
    height: 40px;
}

#object-common-space > .el-scrollbar {
    flex-grow: 1;
}

#object-common-space .object-common-space__content {
    height: 100%;
    background: var(--colorFullBg);
}
#object-common-space .object-common-space__content > .el-scrollbar__view {
    height: 100%;
    padding: 12px;
}

.fam-space-readonly-title {
    font-size: 16px;
    color: var(--colorTextNormal);
    letter-spacing: 0;
    line-height: 24px;
    font-weight: 700;
    cursor: pointer;
    padding: 0 var(--largePadding) 0 var(--normalPadding);
}
.erd-pulldown-menu-item.fam-space__space-all {
    padding: 4px 0 8px;
    margin: 0;
    border-top: 1px solid #ebebeb;
  }
