.fam-sidemenu__menu {
    .el-submenu__title {
        display: flex;
        align-items: center;
        height: var(--layoutSecondaryMenuHeiht);
        padding: 8px 16px !important;
    }

    .el-submenu-children {
        padding-left: 32px !important;
        &.is-active {
            border-right-color: var(--colorPrimary);
        }
    }
    .erd-iconfont {
        display: inline-flex;
        width: calc(var(--iconSize) + 2px);
        height: calc(var(--iconSize) + 2px);
        margin-right: var(--miniSpace);
        color: var(--colorTextNormal);
        font-size: calc(var(--iconSize) + 2px);
        text-align: center;
        align-items: center;
    }
}
