.doc-site-manage {
    .content-opea {
        text-align: right;
        padding: 10px 10px 0 10px;
    }
    .health-common {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
    }
    .health-excellent {
        background-color: rgb(36, 170, 29);
    }
    .health-normal {
        background-color: rgb(190, 246, 99);
    }
    .health-slow {
        background-color: rgb(240, 167, 50);
    }
    .health-veryslow {
        background-color: rgb(230, 22, 16);
    }
    .erd-dropdown-link {
        cursor: pointer;
    }
}
.err-msg-confirm {
    .el-message-box__btns--center {
        justify-content: right !important;
    }
}
