.toolbar-search-component {
    display: flex;
    justify-content: center;
    align-items: center;

    .el-select {
        width: 150px;
    }
}
.error-dialog-main-content {
    .dialog-error-icon {
        font-size: 28px;
        color: red;
    }
    .dialog-error-title-content {
        color: var(--colorTextNormal);
        font-weight: bolder;
        padding-left: 8px;
        font-size: var(--fontSizeLarge);
    }
    .dialog-error-title {
        align-items: center;
        padding-top: 4px;
        padding-bottom: 12px;
    }
    .dialog-error-content {
        padding: 12px;
        background-color: #f1f1f1;
        font-size: 14px;
        font-size: var(--fontSize);
        color: var(--colorTextNormal);
        line-height: 22px;
    }
}
.import-export-error-dialog {
    .el-dialog__footer {
        border-top: none;
        padding: 4px 16px 20px 16px;
    }
}
