<div class="plan-container">
    <div class="list_content">
        <gantt></gantt>
        <!-- <erd-tabs
            v-model="activeName"
        >
            <erd-tab-pane
                v-for="item in tabsList"
                :key="item.value"
                :label="item.label"
                :name="item.value"
                lazy
            >
                <component
                    v-if="activeName === item.value"
                    :is="item.value"
                ></component>
            </erd-tab-pane>
        </erd-tabs> -->
    </div>
</div>
