.project_dashboard {
  height: 100%;
  background: #fff;
  padding: 16px;
  overflow: auto;
}
.project_dashboard .project_report .project_report_list {
  display: flex;
  align-items: center;
  height: calc(100% - 20px);
}
.project_dashboard .project_report .project_report_list .report_list_percentage {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin: 0;
}
.project_dashboard .project_report .project_report_list .report_list_percentage li {
  width: 15%;
  position: relative;
  text-align: center;
}
.project_dashboard .project_report .project_report_list .report_list_percentage li .report_list_name {
  font-size: 1.1rem;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 10px;
}
.project_dashboard .project_report .project_report_list .report_list_percentage li .state_val {
  margin-top: 20%;
  font-size: 30px;
  font-weight: 700;
}
.project_dashboard .project_report .project_report_list .report_list_percentage li .state_label {
  position: absolute;
  width: 100%;
  bottom: 0;
}
.project_dashboard .project_report .project_report_list .report_list_percentage li .report_list_val {
  position: absolute;
  top: 16%;
  left: 16%;
  font-size: 1.7rem;
  font-weight: 700;
}
.project_dashboard .project_report .project_report_list .report_list_percentage li .state_label {
  bottom: 0;
  width: 100%;
}
.project_dashboard .dashboard_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.project_dashboard .dashboard_title .dashboard_title_name {
  font-size: 16px;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.project_dashboard .dashboard_title .dashboard_data {
  width: 220px;
}
.project_dashboard .dashboard_title .dashboard_data .el-range-separator {
  line-height: 26px;
}
.project_dashboard .dashboard_title .dashboard_data i.el-input__icon {
  line-height: 26px !important;
}
.project_dashboard .report_echart_title {
  font-weight: 700;
}
.project_dashboard .task_report {
  height: auto;
}
.project_dashboard .task_report .task_report_echart {
  display: flex;
  justify-content: space-between;
}
.project_dashboard .task_report .task_report_echart .report_echart {
  width: 32.8%;
}
.project_dashboard .task_report .ppm-plan-set-selector-container .el-form-item__content {
  background: unset;
}
.project_dashboard .task_report #FamAdvancedTable {
  margin-top: 10px;
}
.project_dashboard .task_report #FamAdvancedTable .advanced-table-container {
  padding: 0;
}
.project_dashboard .task_report #FamAdvancedTable .el-form-item--medium {
  margin-bottom: 0;
}
.project_dashboard .requirement_report .requirement_report_list {
  display: flex;
  justify-content: space-between;
}
.project_dashboard .requirement_report .requirement_report_list .requirement_echart {
  width: 32.8%;
}
.project_dashboard .common_chart_container {
  display: flex;
  justify-content: space-between;
}
.project_dashboard .common_chart_container .common_chart_item {
  width: 32.8%;
}
.project_dashboard .col-item {
  border: 1px solid var(--colorBorder);
  border-radius: 8px;
  background-color: #fff;
}
.project_dashboard .col-item .x_title {
  padding: 0 12px;
  height: 40px;
  font-size: 16px;
  font-weight: bold;
  line-height: 40px;
  border-bottom: 1px solid var(--colorBorder);
}
.project_dashboard .vue-grid-item {
  transform: translate3d(0px, 0px, 0px) !important;
  width: 100% !important;
}
.project_dashboard .task_report_list #FamAdvancedTable {
  margin-top: 0;
}

.object-common-space {
  height: calc(100vh - 40px) !important;
}/*# sourceMappingURL=style.css.map */