.fam-unit-number {
    .el-input-group__append,
    .el-input-group__prepend {
        padding: 0 8px;
        background-color: var(--colorFullBg);
        border-color: var(--colorBorder);
        color: #567ffd;
        transition: border-color 0.3s;
    }
    .el-input__inner:focus {
        & + .el-input-group__append,
        & + .el-input-group__prepend {
            border-color: var(--colorPrimary);
        }
    }
    .el-input-group__prepend {
        font-size: var(--inputFontSize);
    }
}
