.fam-page-title {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    vertical-align: middle;
    .fam-page-title__button {
        position: relative;
        display: flex;
        align-items: center;
        &::after {
            content: '';
            position: absolute;
            display: inline-block;
            top: 0;
            bottom: 0;
            right: -1px;
            margin: auto;
            width: 2px;
            height: 16px;
            background-color: #ebebeb;
        }

        .el-button {
            position: relative;
            padding-right: 16px;
            height: 22px;
            font-size: 14px;
            font-size: var(--fontSize);
            color: var(--colorTextExplain);
            line-height: 1;
            font-weight: 400;
            &:hover {
                background: transparent;
                background: var(--buttonTextBg__hover);
                color: #7395ff;
                color: var(--buttonTextColor__hover);
            }
        }
    }
    .fam-page-title__title-text {
        font-size: var(--fontSizeLarge);
        line-height: 1;
    }
}
