<div id="DictMobileNode" v-if="visible">
    <erd-ex-dialog
    :visible.sync="innerVisible"
    :title="i18nMappingObj.moveToOtherNodes">
        
        <FamDynamicForm
            ref="dynamicForm"
            :form="formData"
            :data="data"
            @form-change="formChange">
        </FamDynamicForm>
        <span slot="footer" class="dialog-footer">
            <el-button type="primary" @click="onSubmit">{{i18nMappingObj.confirm}}</el-button>
            <el-button @click="toogleShow">{{i18nMappingObj.cancel}}</el-button>
        </span>
    </erd-ex-dialog>
</div>