<erd-ex-dialog
    width="800px"
    :title="i18nMappingObj.notice"
    :visible.sync="visible"
    custom-class="notice-detail"
>
    <div class="detail">
        <div class="detail-header">
            <span class="title">{{ detail.name }}</span>
            <erd-button
                type="primary"
                v-if="showNext"
                @click="handleNext"
            >
                {{ i18nMappingObj.next }}
            </erd-button>
        </div>
        <div class="detail-content">
            <div v-html="detail.content"></div>
            <div
                class="attach"
                v-if="detail.fileList.length"
            >
                <label> {{ i18nMappingObj.attachment }} </label>
                <div class="value">
                    <span
                        class="file-link"
                        v-for="(file, index) in detail.fileList"
                        :Key="index"
                        @click="handleFilePreview(file)"
                        >{{ file.displayName }}</span
                    >
                </div>
            </div>
        </div>
    </div>
    <div class="detail-footer">
        <div></div>
        <div class="detail-footer-date">{{ detail.createTime }}</div>
    </div>
</erd-ex-dialog>
