.detail-list {
    .ppm-details-content-panel {
        // height: 820px;
        display: flex;
        flex-direction: column;
        .basic-information {
            padding-bottom: 16px;
            padding-top: 1px;
        }
        .detail-plan-info {
            height: calc(100vh - 270px);
            overflow: hidden;
            overflow-y: auto;
            padding: 16px;
            
            .fam-dynamic-form {
                & > .el-row {
                    & > .el-col {
                        margin-bottom: 24px;
                    }
                }
            }
        }
    }
}
