@charset "UTF-8";
.project_milestone {
  height: 100%;
  background: #fff;
  padding: 16px;
  overflow: auto;
}
.project_milestone .events-none {
  pointer-events: none;
  /* 禁用鼠标事件 */
  opacity: 0.5;
  /* 设置半透明度，给用户视觉上的提示 */
  cursor: not-allowed;
  /* 更改鼠标指针为不可点击状态 */
}
.project_milestone .milestone_view .ppm-label-form .el-form-item .el-form-item__content {
  line-height: 30px !important;
}
.project_milestone .milestone_view .milestone_view_head .milestone_head_select {
  display: flex;
  justify-content: space-between;
}
.project_milestone .milestone_view .milestone_view_head .ppm-plan-set-selector-container .el-form-item__content {
  background: unset;
}
.project_milestone .milestone_view .milestone_view_head h1 {
  font-size: var(--fontSizeLarge);
  word-break: break-all;
  font-weight: bold;
  color: var(--colorTextNormal);
}
.project_milestone .milestone_view .milestone_view_head .milestone_light_tip {
  display: flex;
  height: 30px;
  align-items: center;
}
.project_milestone .milestone_view .milestone_view_head .milestone_light_tip span {
  display: flex;
  align-items: center;
  font-size: 12px;
  margin: 0 4px;
}
.project_milestone .milestone_view .milestone_view_head .milestone_light_tip span i {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 4px;
}
.project_milestone .milestone_view .milestone_view_stage {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2.4em;
}
.project_milestone .milestone_view .milestone_view_stage .stage_name {
  width: 100%;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.project_milestone .milestone_view .milestone_view_stage li {
  position: relative;
  height: 30px;
  line-height: 28px;
  text-align: center;
  font-size: 12px;
  border-right: 1px solid #fff;
  color: #fff;
}
.project_milestone .milestone_view .milestone_view_stage li .point_list_show {
  position: absolute;
  top: 0;
}
.project_milestone .milestone_view .milestone_view_stage li .point_list_show .point_name {
  position: relative;
  left: -20px;
  top: 56px;
  text-align: left;
  color: var(--colorTextNormal);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.project_milestone .milestone_view .milestone_view_stage li .point_list_show .point_circle {
  position: absolute;
  top: 24px;
  background: #C9CED5;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  z-index: 1;
}
.project_milestone .milestone_view .milestone_view_stage li .point_list_show .point_line {
  position: absolute;
  top: 24px;
  background: #C9CED5;
  width: 2px;
  height: 50px;
  left: 3px;
}
.project_milestone .milestone_view .milestone_view_stage li .point_list_show .point_block {
  position: absolute;
  top: 28px;
  left: -1px;
  transform: rotateZ(180deg);
  font-size: 24px;
}
.project_milestone .milestone_view .milestone_view_stage li .point_list_show .point_block .erd-iconfont {
  width: 0;
}
.project_milestone .milestone_view .milestone_view_stage li .even .point_circle {
  top: -4px;
}
.project_milestone .milestone_view .milestone_view_stage li .even .point_line {
  top: -50px;
}
.project_milestone .milestone_view .milestone_view_stage li .even .point_name {
  top: -56px;
}
.project_milestone .milestone_view .milestone_view_stage li .even .point_block {
  top: -26px;
  transform: rotateZ(0deg);
}
.project_milestone .milestone_view .milestone_view_stage li.collect_name {
  width: 100%;
  text-align: left;
  font-weight: 700;
  color: var(--colorTextNormal);
}
.project_milestone .milestone_view .milestone_view_stage .ContractionPanel {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.project_milestone .milestone_view .milestone_view_stage .ContractionPanel .panelTitle {
  height: 20px;
}
.project_milestone .milestone_view .milestone_view_stage .ContractionPanel .panelContent {
  width: 100%;
}
.project_milestone .milestone_view .milestone_view_stage .ContractionPanel .panelContent .contraction-panel__content {
  display: flex;
  flex-wrap: wrap;
}
.project_milestone .milestone_view .milestone_view_stage .ContractionPanel .milestone_view_panel {
  display: flex;
  width: 100%;
  margin-top: 60px;
}
.project_milestone .milestone_view .milestone_no_data {
  height: 200px;
}
.project_milestone .milestone_list {
  margin-top: 30px;
}
.project_milestone .milestone_list .list_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.project_milestone .milestone_list .list_head h1 {
  font-size: var(--fontSizeLarge);
  word-break: break-all;
  font-weight: bold;
  color: var(--colorTextNormal);
  margin: 0;
}
.project_milestone .milestone_list #FamViewTable {
  padding-top: 18px;
}
.project_milestone .milestone_list #FamViewTable .advanced-table-container {
  padding: 0;
}
.project_milestone .milestone_list #FamViewTable .advanced-table-container .milestone_lignt {
  display: inline-block;
  width: 100%;
}
.project_milestone .milestone_list #FamViewTable .advanced-table-container .milestone_lignt i {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 4px;
}
.project_milestone .milestone_list #FamViewTable .advanced-table-container .milestone_lignt i.erd-icon-upload {
  width: 10px;
  height: 16px;
}
.project_milestone .milestone_list #FamViewTable .advanced-table-container .milestone_lignt .upload-deliverable-btn {
  background-color: var(--buttonFontColor);
  border-color: var(--buttonFontColor);
  cursor: pointer;
  display: inline-flex;
  padding: 2px 4px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  color: #fff;
  scale: 0.8;
}
.project_milestone .milestone_list #FamViewTable .advanced-table-container .milestone_lignt .upload-deliverable-btn:hover {
  background-color: var(--colorPrimaryLighter);
  border-color: var(--colorPrimaryLighter);
}
.project_milestone .milestone_list #FamViewTable .advanced-table-container .task-warning-label {
  margin-right: 4px;
}

.milestone_tip_content {
  padding: 10px;
}
.milestone_tip_content .milestone_tip {
  margin: 0;
}
.milestone_tip_content .milestone_tip li {
  margin: 4px;
  font-size: 12px;
}
.milestone_tip_content .milestone_tip li .tip_label {
  width: 100px;
  display: inline-block;
  text-align: right;
  margin-right: 4px;
}
.upload-deliverable-dialog .el-dialog__body {
  height: 400px;
}/*# sourceMappingURL=style.css.map */