#singleSelect {
    padding: 16px 0;
    .el-input__suffix {
        display: flex;
        .el-input__suffix-inner {
            align-items: center;
            font-size: 16px;
        }
    }

    .innerShowCheckbox .el-tree-node__content {
        // .is-leaf {
        //     display: none;
        // }
        // padding-left: 0 !important;
    }
    .el-tree-node__content {
        width: 100%;
        .tree-content {
            width: 100%;
            overflow: hidden;
        }
    }
}
