#FamTypeTree {
    .fam-type-tree {
        background-color: #ffffff;
        padding-top: var(--bigPadding);
        .fam-type-tree__header {
            .fam-type-tree__tabs {
                display: block;
                .tabIcon {
                    width: 24px;
                    height: 24px;
                    line-height: 24px;
                    text-align: center;
                    // background: #ebf1ff;

                    i {
                        font-size: 16px;
                    }
                }
                .isActive {
                    background: #ebf1ff;
                }

                .el-tabs__item {
                    padding: 0 12px;
                    height: 36px;
                    &.is-top:nth-child(2) {
                        padding-left: 0;
                    }
                }
            }
            .fam-type-tree__btns {
                margin: 8px 0;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .fam-type-tree__typeName {
                    width: 94px;
                    height: 22px;
                    font-size: 14px;
                    font-size: var(--fontSize);
                    color: var(--colorTextNormal);
                    letter-spacing: 0;
                    line-height: 22px;
                    font-weight: 600;
                }
            }
            .el-tabs__content .el-tab-pane {
                padding: 0;
            }
        }

        .fam-type-tree__search {
            width: 100%;
            // margin-top: 12px;
        }

        .el-scrollbar {
            height: calc(100%);
        }

        .el-tree-node {
            .el-tree-node__children {
                overflow: initial;
            }
        }

        .el-tree--highlight-current .el-tree-node.is-current > .el-tree-node__content {
            background-color: #ebf1ff;
        }
    }
    #fam_attrPermissionSetting {
        padding: 0 !important;
        margin: 0 !important;
        height: 100% !important;
        display: flex;
        flex-direction: column;
        .fam-resizable-container {
            flex-grow: 1;
        }
    }
}
